* {
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    background-color: grey;
}
header {
    background-color: yellow;
    position: fixed;
}

footer {
    background-color: yellow;
}

li {
    display: inline;
    padding: 0px 20px;
}

nav {
    text-align: right;
}


.titlebar {

}

figure {
    height: 300px;
    width: 300px;
    background-color: black;
}