* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    background-color: grey;
}
header {
    /* width: 100%; */
    background-color: yellow;
    align-items: center;
}

footer {
    background-color: yellow;
}

ul{
    justify-content: space-around;

}

#content {
    list-style-type: none;
    display: flex;
    padding: 15px;
    /* justify-content: right; */
    width: 300px;
}

#id {
    
}

.titlebar {

}

figure {
    height: 300px;
    width: 300px;
    background-color: black;
}